html, body {
    background-color: #ebebeb;
    background-image: url(../image/bg.jpg);
    background-size: 100% auto;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover {
    color: #f17370;
}
.header {
    padding: 20px 0 50px 0;
    position: relative;
    color: #fff;
    width: 100%;
    max-height: 380px;
    background-color: #3091f2;
    background-size: 100% 1000px;
}
.header a {
    color: #fff;
}

.header .jumbotron {
    background: transparent;
}

.header .form-group {
    position: relative;
}
.header .search {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
    border-color: transparent;
}

.header .search-wraper {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    margin-top: 30px;
    margin-bottom: 20px
}

.header .search {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: left;
    border-color: transparent
}
.header .fa-search {
    position: absolute;
    right: 10px;
    top: 18px;
}


.main-content {
    min-height: 540px;
}
.main-content .container {
    margin: 20px auto;
    padding: 20px auto;
}

.footer {
    padding: 30px auto;
    min-height: 300px;
    background: #495060;
}
