html, body {
    background-color: #ebebeb;
    background-image: url(../image/bg.jpg);
    background-size: 100% auto;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
a:hover {
    color: #f17370;
}

.main-header {
    width: 100%;
    height: auto;
    background-color: #f4655f;
    height: auto;
    float: left;
    background-size: 100% 1000px;
}

.main-header-top-line {
    width: 100%;
    max-width: 1100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: 300;
}

.main-header-top-line span {
    display: none;
}

.main-header-top-line img {
    width: auto;
    height: 34px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
}

.main-header-top-line ul {
    display: block;
    width: auto;
    float: right;
    color: #FFFFFF;
}

.main-header-top-line li {
    float: right;
    width: auto;
    padding-left: 40px;
    line-height: 50px;
}

.main-header-top-line li a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-header-top-line li a:hover {
    font-weight: 400;
}

.main-header-content {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.main-header-content-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
}

.main-header-content-header small {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    float: left;
}

.main-header-content-form {
    width: 100%;
    float: left;
}

.main-header-content-form form {
    width: 100%;
    max-width: 700px;
    border-radius: 3px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    margin-bottom: 80px;
    margin-top: 20px;
}

.main-header-content-form input {
    width: 90%;
    float: left;
    height: 48px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #666666;
}

.main-header-content-form button {
    width: 10%;
    float: left;
    height: 48px;
    border-radius: 0px 3px 3px 0px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.main-header-content header {
    width: 100%;
    float: left;
    height: 120px;
    line-height: 120px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

.main-header-content content {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}

.main-header-content a {
    width: auto;
    padding: 7px 10px 8px 10px;
    border: thin solid #ffffff;
    border-radius: 3px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
}

.main-header-content a:hover {
    background-color: #303030;
    border: thin solid #303030;
    text-decoration: none;
}

.main-navigation{
    width: 100%;
    height: auto;
    float: left;
    line-height: 60px;
    color: #333333;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}
.main-navigation-content ul li a {
    color: #666666;
}

.main-navigation-content ul li a:hover {
    color: #f17370;
    text-decoration: none;
}

.main-content {
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.main-footer {
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    height: auto;
    background-color: #202020;
    height: auto;
    float: left;
}

.main-footer-content {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer-content ul header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    border-bottom: thin solid #303030;
}

.main-footer-content ul header h5 {
    width: 80px;
    font-weight: 400;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    padding-right: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0px;
    padding: 0px;
    border-bottom: thin solid #fa503a;
}

.main-footer-footer a {
    color: #666666;
}