html, body {
    background: #f5f7f9 url(../image/bg.jpg) 100%;
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    position: relative;
}

a {
    /*color: #4cb0fc;*/
    color: #3091f2;
    transition: all .3s ease-in-out;
}

a:hover {
    /*color: #3091f2;*/
    color: #f17370;

}
.site-header {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}
.navbar-brand{
}

.site-main {
}

.site-footer {
    color: #f2f2f2;
    height: 120px;
    line-height: 120px;
    background: #3f464e;
}
.site-footer p {
    margin-bottom: 0;
}
.site-footer .copyright {
    text-align: center;
}
