html, body {
    background: #f5f7f9 url(../image/bg.jpg) 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC" , "Hiragino Sans GB","Microsoft YaHei","微软雅黑","Open Sans", Arial, sans-serif;
    transition: all .2s ease-in-out;
    position: relative;
}

a {
    color: #3091f2;
}

a:hover {
    color: #f17370;
}
.site-header {
    background: #3091f2;
    color: #fff;
    min-height: 60px;
    line-height: 60px;
}
.site-header .nav a {
    font-size: 15px;
}
.site-header a {
    color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.nav>li>a:focus, .nav>li>a:hover{
    color: #bbb;
    background: none;
}

.site-main {
    min-height: 540px;
    padding: 30px 0;
}

.site-footer {
    padding: 30px 0;
    width: 100%;
    min-height: 200px;
    background: #495060;
    color: #d2d2d2;
}
.site-footer .copyright {
    text-align: center;
}
